* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'PT Sans', sans-serif;
}

.logo {
    font-family: 'Jersey 15', cursive;
    font-size: 50px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 50px;
}

header {
    padding: 16px;
    background-color: #1a1a1b;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 30px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.container img {
    max-width: 650px;
    height: auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #1a1a1b;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline ;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

#contact h2 {
    font-size: 25px; 
}

#contact h3 {
    font-size: 25px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    font-size: 18px;
    background-color: #313338;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #642525;
}

input:focus, text:focus {
    outline-color:#182c61 ;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1b;
    color: #ecf0f1;
    padding: 16px 0;
}